h1 {
    color: #E53270;
    font-family: "Sour Gummy", sans-serif;
}

.team-card {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card{
    background-color: black;
    color: white;
}

.card img {
    /* width: auto;
    height: 100%; */
    margin-right: 15px;
}
/* 

.team-card div {
    background-color: #000;
    width: 100% / 3;
}

.team-card h5 {
    font-weight: bold;
    margin: 0;
}

.team-card p {
    margin: 0;
}

.team-card a {
    color: #00bfff;
    text-decoration: none;
} */